body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
  
  }

a {
  color: #00B7FF;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  
  
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
 
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

button{
  
  font-family: '8BITWONDERNominal'; 
  font-weight: normal; 
  font-style: normal;

}

.header{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
   color: rgb(220, 55, 55);
}

.lastname{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
}

.firstname{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
}

.email{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
}

.password{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
}

.username{
  font-family: '8BITWONDERNominal'; 
   font-weight: normal; 
   font-style: normal;
}

.body1{
  text-align: center;
 background-color: gray;
 width: 500px;
 height: 300px;
 margin-left: auto;
 margin-right: auto;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 
 
}

.body2{
  text-align: center;
 background-color: gray;
 width: 400px;
 height: 150px;
 margin-left: auto;
 margin-right: auto;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 
 
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 10px;
}

.arrow-down {
  margin-left: auto;
  margin-right: auto;
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  
  border-top: 40px solid rgb(86, 84, 84);
}

.image{
  height: 400px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('/public/img/nes-ctrl-layout.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 700px 400px; 
  
 
  
}


 .button{
  padding-top: 84px;
  padding-left: 350px;
 display: inline-block;
 position: relative;
 margin-left: auto;
 margin-right: auto;

 }

 .user{
   width: 30%;
   padding-top: 10.5%;
   margin-left: auto;
   margin-right: auto;
   
 }

 .pass{
  padding-top: .2%;
  width:30%;
   margin-left: auto;
   margin-right: auto;
  
  
 }
 .button1{
   color: white;
   background-color: black;
   height: 30px;
  border-radius: 20px;
 text-align: center;
 }

 .usern{
   height: 40px;
   width: 100%;
  border-radius: 20px;
  background-color: rgb(93, 92, 92);
  color: white;
  display: inline-block;

 }

 .input1{
  height: 40px;
  width: 100%;
 border-radius: 20px;
 background-color: rgb(93, 92, 92);
 color: white;
display: inline-block;


 }

@media only screen and (max-width: 100%) {
  /* For tablets: */
  .image{background-size: 700px 400px;}
  .body3{width: 100%}
  .user {width: 100px;}
  .pass {width:10px;}
}
 